*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
	font-family: 'Montserrat', sans-serif;
	line-height: 1.6;
	margin: 0;
	min-height: 100vh;
}

/* Navigation Bar */
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.navbar h2,
h3,
a {
	color: #808080;
}
a {
	text-decoration: none;
}
.logo {
	margin: 0;
	font-size: 1.45em;
    margin-left: 15px;
}
.main-nav {
	margin-top: 5px;
    margin-right: 15px;

}
.logo a,
.main-nav a {
	padding: 10px 15px;
	text-transform: uppercase;
	text-align: center;
	display: block;
}
.main-nav a {
	color: #808080;
	font-size: .99em;
}
.main-nav a:hover {
	color: #000000;
}
.header {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f4f4f4;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.75);
}

@media (min-width: 769px) {
	.header,
	.main-nav {
		display: flex;
	}
	.header {
		flex-direction: column;
		align-items: center;
    	.header{
		width: 80%;
		margin: 0 auto;
		max-width: 1150px;
	}
	}

}
@media (min-width: 1025px) {
	.header {
		flex-direction: row;
		justify-content: space-between;
	}

}



/* Home Section */
.main-banner {
  background-image: url('./images/banner.jpg');
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.main-banner .item {
  position: relative;
}
.main-banner .item span.category {
  background-color: #fff;
  color: #1e1e1e;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  padding: 6px 15px;
  display: inline-block;
  position: absolute;
  top: 200px;
  left: 450px;
  z-index: 1; 
}
.main-banner .item span.category em {
  font-style: normal;
  color: #f35525;
}
.main-banner .item h2 {
  font-size: 62px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 72px;
  width: 45%;
  margin-left: 150px;
  text-align: center;
  position: absolute;
  top: 270px;
  left: 0; 
  z-index: 2;
}

@media (max-width: 768px) {
  .main-banner {
    width: 100%; 
  }
  .main-banner .item span.category {
    top: 100px;
    left: 150px;
  }

  .main-banner .item h2 {
    font-size: 40px;
    line-height: 50px;
    top: 150px;
    left: 50px;
  }
}

/* About Section */

.about {
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
}

.about_img{
  background-image: url('./images/chef.gif');
  background-size: cover;
  width: 350px;
  height: 350px;
  float: right;
  margin: 30px;
  margin-right: 160px;
  border-radius: 8px; 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  transition: transform 0.2s ease-in-out;
}

.about_img:hover {
  transform: scale(1.05); 
}


.about_section {
  width: 100%;
  float: left;
}

.about_taital_main {
  width: 100%;
  float: left;
  padding: 120px 0px;
  margin-left: 130px;
}

.about_taital {
  width: 100%;
  float: left;
  font-size: 40px;
  color: #808080;
  font-weight: bold;
  text-transform: uppercase;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #4c4c4b;
  margin: 0px;
  padding-top: 10px;
}

.about_text {
  width: 100%;
  float: left;
  font-size: 16px;
  color: #4c4c4b;
  margin: 0px;
  padding-top: 10px;
}

.first-row {
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px; 
}





/* Login Section */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Quicksand', sans-serif;
}
.signin {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  border-radius: 4px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.9);
  margin: 20px;
  padding: 20px;
}
.signin .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.signin .content h2 {
  font-size: 2em;
  color: #808080;
  text-transform: uppercase;
}
.signin .content .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.signin .content .form .inputBox {
  position: relative;
  width: 100%;
}
.signin .content .form .inputBox input {
  position: relative;
  width: 100%;
  background: #333;
  border: none;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
  font-size: 1em;
}
.signin .content .form .inputBox i {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i {
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #fff;
}
.signin .content .form .inputBox input[type="submit"] {
  padding: 10px;
  background: #808080;
  color: #000;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
}
input[type="submit"]:active {
  opacity: 0.6;
}

